/* CSS Document */
/* Purple Theme */

/* Header */
#purple #header hgroup h1{ color: #FFF1B5; }
#purple div.decoration{ background-color: #fff; }
#purple div.social a{ background: url(../images/social-purple.png) no-repeat; }
/* General Styles */
#purple #wrapper{ background: url(../images/bg-purple.png) repeat; }
#purple *{ border-color: #C498A0 !important; }
#purple div.border{ background-color: #C498A0; }
#purple a{ color: #fff; }
#purple a.current{ color: #3C2C39 !important; }
#purple ul.info li span.title{ color: #FFA3A3; }
#purple div.content h1, #purple div.content h2, #purple div.content h3,
#purple div.content h4, #purple div.content h5, #purple div.content h6{ color: #FFA3A3; }
/* Resume */
#purple span.rating1, #purple span.rating2, #purple span.rating3,
#purple span.rating4, #purple span.rating5{ background: url(../images/skills-purple.png) no-repeat; }
/* Portfolio*/
#purple #portfolio a p span{ background: url(../images/portfolio-purple.png) no-repeat; }
/* Contact */
#purple #contact .inputbox, #purple #contact textarea{ color: #fff; }
#purple #contact input.send{ background: #C498A0; }

/* End Purple Theme */

/* End Violet Theme */